@import '../../../variables';
@import '../../../mixins';

// @mixin font-size($sizeValue: 16px) {
//     font-size: ($sizeValue * 1rem) + rem;
//     font-size: $sizeValue + px;
//   }

  
.task-status-container{
    transition: 0.5s;
}

.collapsed-status-section {
    height: 11%;
    overflow: hidden;
  }
  .expanded-status-section{
    height: 48%;
    overflow: hidden;
  }

.task-listing-component-body{
    height: 100%;
    .ticket-listing-body{
        overflow: auto;
        height: 80%;
    }
}

.tasks-list-body-container{ 
    width: 100%;
    height: auto;
}

.tasks-list-overall-body{
    .row{
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
}


.tasks-list-body-container{
    .col-sm-3{
        padding-right: 0px;
        padding-left: 0px;
        border-right: 1px solid $color-lightWhite;
    }
    .col-sm-9{
        padding-right: 0px;
        padding-left: 0px;
    }
}

.close-icon-sec{
    text-align: left;
    padding: 15px;
    .sidebar-close-icon {
        transform: rotate(90deg);
        cursor: pointer;
        margin: 0 !important;  
    }
    span{
        padding-left: 10px;
        position: relative;
        bottom: 5px;
    }
}
.close-icon-sec1{
    text-align: left;
    padding: 15px;
    .sidebar-close-icon {
        transform: rotate(90deg);
        cursor: pointer;
        margin: 0 !important;  
    }
    span{
        padding-left: 10px;
        position: relative;
        bottom: 5px;
    }
}
.search-people{
    border: solid 1px $color-borderLightGray;
    width: calc(100% - 30px);
    margin: auto;
    border-radius: 50px;
    padding: 5px 2rem 5px 10px;
    svg{
        position: absolute;
        margin-top: 0.3rem;
    }
}
p {
    margin: 0;
    padding: 0;
}
.tasks-list-contianer {
    margin-top: 0%;
    // height: 90vh;
    // padding-top: 5px;
    // padding-left: 5px;
}
.tasks-listing-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 4px 10px;
    width: 95%;
    margin: 2.5% auto;
    span{
        // font-size: 1.625rem;
        font-size: rem(26px);
        // @include font-size(24px);
        // font-size: rem(50px);
        font-weight: 500;
        line-height: 1.92;
        letter-spacing: 0.52px;
        color: $color-lightGray;

    }
}



.tasks-listing-task {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px auto;
    width: 95%;
}
.tasks-listing-left-section {
    display: flex;
    align-items: center;
    min-width: 80%;
    transition: 0.5s;
    position: relative;
    
}

.tasks-listing-left-section{
    // .tasks-listing-edit-icon-image{
    //     border: 1px solid red;
    //     width: 15.5px;
       
    //     .tasks-listing-edit-icon{
    //         display:block;
    //         width: 15.5px;
    //         height: 12.5px;
    //     }
    // }
    
    // .tasks-listing-more-icon-image{
    //     // position: fixed;
    //     border: 1px solid blue;
    //     width: 15.5px;
    //     .tasks-listing-more-icon{
    //         display: block;
    //         width: 4px;
    //         height: 23.5px;
    //     }
    // }

    .tasks-listing-edit-icon-image{
        width: 25px;
        position: absolute;
        left: 10px;
        
        // border: 1px solid red;
        .tasks-listing-edit-icon{
            display:none;
            width: 15.5px;
            height: 12.5px;
            margin: 0 4px;
        }
    }
    .tasks-listing-more-icon-image{
        width: 15.5px;
        position: absolute;
        left: 0px;
        // border: 1px solid blue;
        .tasks-listing-more-icon{
            display: none;
            width: 4px;
            height: 23.5px;
            margin: 0 4px;
        }
    }
    
    .tasks-listing-checked-icon{
        width: 15.5px;
        height: 15.5px;
        margin: 0 4px 0 35px;
    }
    // img{
    //     width:14px; 
    //     margin: 0px 3px;
    //     margin-bottom: 20px;
    // }
}

.tasks-listing-left-section:hover{
    min-width: 80%;
    // .tasks-listing-task-name-and-time-section{
    //     width: 35%;
    //     .tasks-listing-task-name {
            
    //         font-size: 1rem;
                 
    //     }
    //     .tasks-listing-time-section{
            
    //         width: 100%;
    //         .tasks-listing-time{
    //             font-size: 0.8rem;
    //         }
    //         .tasks-listing-due-days{
    //             font-size: 0.8rem;
    //         }
    //     }
    // }
    .tasks-listing-edit-icon-image{
        width: 15.5px;
        // border: 1px solid red;
        .tasks-listing-edit-icon{
            display:block;
            width: 15.5px;
            height: 12.5px;
            margin: 0 4px;
        }
    }
    .tasks-listing-more-icon-image{
        width: 15.5px;
        // border: 1px solid blue;
        .tasks-listing-more-icon{
            display: block;
            width: 4px;
            height: 23.5px;
            margin: 0 4px;
        }
    }
   
}


.tasks-listing-icon-show-on-hover {
    width: 50%;
    margin-bottom: 15px;
    i{
        color: $color-lightGray!important;
    }
    img{
        width: 26px;
        height: 26px;
        margin: 0px 6px;
    }
}


.tasks-listing-task-name {
    color: $color-thickGray;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 2.27;
    letter-spacing: 0.44px;
    font-family: "helveticaNeueLight";
    padding-left: 5px;
    margin-bottom: 0px!important;
    color: $color-thickGray;
}
.tasks-listing-time {
    
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    font-family: "helveticaNeueLightCond";
    color: $color-lightGray;
    padding-left: 5px;
}
.tasks-listing-due-days{
    
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    color: $color-mediumPink;
    font-family:"helveticaNeueLightCond"; 
    padding-left: 5px;
}

.tasks-listing-seviarity {
    border-radius: 6px;
    height:26px;
    width: 46px;
    font-size: 0.6rem;
    color: $color-white;
    padding: 2px 10px;
    box-sizing: border-box;
    margin-right: 3px;
    margin-bottom: 15px;
    background-color: $color-lightDarkBlue;
}
.risk {
    background-color: $color-snowFlurry;
    height: 20px;
}
.tasks-listing-customer-type {
    width: 64px;
    height: 26px;
    background-color: $color-lightPink;
    border-radius: 6px;
    font-size: 0.6rem;
    color: $color-white;
    padding: 2px;
    box-sizing: border-box;
    margin-right: 0px;
    text-align: center;
    width: 16%;
    margin-bottom: 15px;
}


.phase1 {
    background-color: $color-orange;
}
.tasks-listing-right-section {
    display: flex;
    align-items: center;
    min-width: 20%;
    margin-bottom: 15px;
    // border: 1px solid red;
}


.tasks-listing-right-section > img{
    width: 15px;
    margin: 0px 0px 0px 10px;
    
}
.tasks-list-avathar {
    height: 20px;
    width: 20px;
    border-radius: 100px;
}
.tasks-list-avathar > img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    vertical-align: baseline;
}

.tasks-listing-countdown-button-one {
    background-color: transparent !important;
    height: 20px !important;
    width: 75px !important;
    box-shadow: none !important;
    display: flex !important;
    align-items: center !important;
    color: $color-thickGray!important;
}

.gray{
    border: 1px solid $color-lightGray!important;
}

.blue-border{
    border: 1px solid $color-thinBlue!important;
    background-color: transparent !important;
    color: $color-thickGray!important;
}

.tasks-listing-countdown-button-one{
    .MuiFab-label{
        display: flex;
        align-items: center !important;
        justify-content: space-between;
        height: 20px !important;
        width: 66% !important;
        color: $color-thickGray!important;
        font-size: 0.6rem;
    }
}


.tasks-list-countdown-button-two {
    background-color: $color-lightWhite !important;
    height: 20px !important;
    width: 75px !important;
    box-shadow: none !important;
    display: flex !important;
    align-items: center !important;
    color: $color-thickGray;

    .MuiFab-label {
        display: flex;
        align-items: center !important;
        justify-content: space-between;
        height: 20px !important;
        width: 67% !important;
        color: $color-thickGray!important;
        font-size: 9px;
        font-weight: bolder;
    }
}

.red-border{
    border: 1px solid $color-red!important;
    background-color: $color-lightWhite !important;
    color: $color-thickGray!important;
}

.tasks-list-countdown-timer-icon {
    color: $color-light-green;
}

.tasks-list-star-rating{
    i{
        font-size: 0.8rem;
        cursor: pointer;
    }
}


.tasks-listing-click-more-button{
    display: flex;
    align-items: center;
    margin: 10px;
    .task-listing-menu{
        background-color: transparent !important;
        width: 20px !important;
        height: 20px !important;
        box-shadow: none !important;
        position: relative;
    }
    img{
        height: 17px;
        // margin: 0 8px 0 16px;
        vertical-align: baseline;
    }
}

// .tasks-list-clicl-more-button > img {
//     height: 17px;
//     margin: 0 8px 0 16px;
//     vertical-align: baseline;
// }

.tasks-listing-heading-right{
    display: flex;
    .MuiButton-root{
        min-width: 40px;
        padding: 6px 2px;
        .MuiButton-label{
            img{
                width: 2.4375rem;
                height: 2.4375rem;
            }
        }
    }
    .MuiButton-root:hover{
        background-color: $color-white!important;
    }
}


.tasks-listing-status-section{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 20px auto;

    .tasks-listing-status{
        width: 78%;
        
        .tasks-listing-status-text{
           
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 0.8;
            letter-spacing: 0.4px;
            color: $color-lightViolet;
            text-transform: capitalize;
            margin-left: 3%;
        }
        .task-listing-estimated{
            text-align: center;
        }
        
    }
    .tasks-listing-estimated-actual{
        
        display: flex;
        justify-content: space-around;
        width: 22%;
    
        // p{
        //     padding-right: 50px;
        //     padding: 0px 25px;
        //     margin-bottom: 0px;
        //     font-size: 13px;
        //     font-weight: 450;
        //     color: $color-thickGray;
        //     text-transform: capitalize;
        // }
        .task-listing-estimated, .task-listing-actual{
            width: 48%;
            font-size: 1.25rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.8;
            letter-spacing: 0.4px;
            text-transform: capitalize;
            color: $color-lightViolet;
            
        }
        .task-listing-estimated{
            text-align: center;
        }
        
    }
}





.tasks-listing-task-name-and-time-section{
    width: 30%;
}

.tasks-listing-time-section{
    display: flex;
}

.tasks-listing-hover-icons{
    width: 17px;
    margin-left: 2px;
    // border-radius: 12px;
    img{
        height: 20px;
        border-radius: 10px;
        margin-left: 10px;
    }
}

// .tasks-list-hover-icons> img{
//     height: 20px;
//     border-radius: 10px;
//     margin-left: 10px;
// }

.tasks-listing-hover-images{
    height: 18px;
    border-radius: 10px;
    margin-left: 10px;
}

.tasks-listing-actual-timer{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    .stop-watch-section{
        width: 80%;
        margin-left: 12%;
    }
    
    .MuiFab-extended.MuiFab-sizeSmall{
        width: 100%;
        // margin-left: 9px!important;
        padding: 0px!important;
    }
    .MuiFab-extended{
        padding: 0px;
    }
    .MuiFab-root{
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 0px;
    }

    .tasks-list-countdown-button-two{
        .MuiFab-label{
            img{
                width: 6px;
                margin-bottom: 2px;
                margin: 0px 2px;
            }
        }

    }
}


.tasks-listing-estimate-timer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiFab-extended.MuiFab-sizeSmall{
        width: 70%;
        min-width: 70%;
        margin: 0px!important;
        padding: 0px!important;
        border: 1px solid $color-borderLightGray;
       
    }

    .MuiFab-extended{
        padding: 0px;
    }

    .MuiFab-root{
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 0px;
        
        .MuiTouchRipple-root{
            background-color: $color-white;
        }
    }
}



//////////////////////////Task List PopUp////////////////////
.task-list-menu {
    background-color: transparent !important;
    width: 36px !important;
    height: 20px !important;
    box-shadow: none !important;
    position: relative;
    
}



.tasks-listing-popup {
    width: 252.8px;
    height: 515.6px;
    z-index: 1000;
    background-color: $color-white;
    box-shadow: 0px 3px 12px $color-white-gray;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top:-17px;
    right:25px;
    // margin:10px;
   }


.tasks-listing-popup:after {
    position: absolute;
    right: -14px;
    top: 24px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid $color-white;
}
.tasks-listing-popup {
    ul{
        list-style: none;
        padding: 0;
        text-transform: capitalize !important;

        li{
            height: 42.97px;
            color: $color-dimGray;
            text-align: left;
            border-bottom: 1px solid $color-darkWhite;
            display: flex;
            align-items: center;
            // margin: 5px 0;
            img{
                width: 17.6px;
                height: 12.8px;
                margin: 0px 15px;
            }
            span{
                font-family: "helveticaNeueLight";
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.13;
                letter-spacing: normal;
                text-align: left;
                color: $color-dimGray;
            }
            i{
                margin: 10px 10px;
            }
        }
    }
    
}


// .tasks-list-icon{
//     display: flex;
//     img{
//         width: 23px;
//         height: 23px;
//         margin: 5px 10px;
//         border-radius: 50%;
//     }
//     span{
//         padding-top: 5px; 
//     }
// } 


.people-check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .profile-name{
        flex:1;
        padding: 0;
        font-size: 1rem;
    }
}

.data-null{
    text-align: center;
    font-size: initial;
    background-color: cornsilk;
}
.tomorrow-task-list-popup{
    width: 215px;
    height: auto;
    z-index: 1000;
    background-color: $color-white;
    box-shadow: 0px 3px 12px ;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top:-360px;
    right:25px;
    margin:10px;

    ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        text-transform: capitalize !important;
        li {
            color: $color-dimGray;
            text-align: left;
            margin: 5px 0;
            
             i {
                margin: 0 10px;
                
            }
        }
    }
   }
   .reminder-help{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.38;
    letter-spacing: 0.32px;
    text-align: left;
    color: $color-thickGray;
    /* width: 392px; */
    /* left: 43px; */
    margin-left: 30px;
   }
   .tasks-list-reminder{
    width: 60%;
    height: 30px;
    margin-left:20px;
    .MuiFormControl-root{
        width: 90%;

        .MuiInputLabel-formControl{
            top: -11px;
            left: 29px;
            color: $color-thickGray;
            font-size: 15px;
        }
        .tasks-list-assign-to-menu-item{
            .MuiInput-underline:hover:not(.Mui-disabled):before{
                border-bottom: none!important;
            }

            .MuiInput-underline:before{
                border-bottom: none;
            }

            .MuiInput-underline:after{
                border-bottom: none;
            }
            .MuiInputBase-root{
                border: 1px solid $color-lightGray;
                width: 100%;
                height: 40px;
                border-radius: 20px;
            }
        }
    }
   }

.tomorrow-task-list-popup:after {
    position: absolute;
    right: -17px;
    top: 360px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid $color-white;
}

.button-addreminder{
    width: 185px;
    margin: 4px 5px;
    height: 42px;
    border-radius: 41px;
    background-color: $color-green;
    margin-left: 350px;
}
.sent-reminder{
    width: 329px;

  height: 19px;

  font-family: HelveticaNeue;

  font-size: 16px;
}
.calendericon{
    text-align: center;
   .img{
       width:50px;
       height:60px;
   }
}
.heading{
    font-family: HelveticaNeue;

  font-size: 30px;

  font-weight: bold;

  font-stretch: condensed;

  font-style: normal;

  line-height: 1.27;

  letter-spacing: normal;

  text-align: center;

  color: $color-thickGray;
}
.task-reminderdescription{
    text-align: center;
}
.add-reminder{
    text-align: center;
}
.tasks-remainder{
    font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.27;
    padding: 20px;
    letter-spacing: normal;
    text-align: left;
  color: $color-lightViolet;
}
.calendaricon{
    width: 67px;

    height: 71.4px;
    object-fit: contain;
}
.editicon{
    width: 30px;
  object-fit: contain;
}
.button-reminder{
    width: 150px;
    height: 42px;
    border-radius: 27px;
    background-color: $color-strongPurple;
    margin: 15px 0;
}
.reminder{
    .span{
        font-family: HelveticaNeue;

        font-size: 16px;
      
        font-weight: 500;
      
        font-stretch: normal;
      
        font-style: normal;
      
        line-height: 2.38;
      
        letter-spacing: 0.32px;
      
        text-align: left;
      
        color: $color-thickGray;
    }
}
.tasks-remainder1{
    background-color: $color-lightWhite;
    font-family: HelveticaNeue;
    /* text-align: left; */
    color: $color-thickGray;
    font-size: 16px;
    padding: 10px 8px;
    margin-bottom: 20px;
    margin-bottom: 14px;
    width: 100%;
}

.notification-task-list-popup{
    width: 630px;
    z-index: 1000;
    border-radius: 24px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    background: $color-white;
    box-shadow: 0 6px 30px 0 $color-veryLighterGray;

     ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        text-transform: capitalize !important;
        li {
            color: $color-dimGray;
            text-align: left;
            margin: 5px 0;
           
            
            i {
                margin: 0 10px;
                
            }
        }
    }
}
.notification-task-list-popup:after {
    position: absolute;
    right: -17px;
    top: 230px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid $color-white;
}



.today-task-list-popup{
    width: 215px;
    height: auto;
    z-index: 1000;
    background-color: $color-white;
    box-shadow: 0px 3px 12px ;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top:-230px;
    right:25px;
    margin:10px;

     ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        text-transform: capitalize !important;
        li {
            color: $color-dimGray;
            text-align: left;
            margin: 5px 0;
            
            i {
                margin: 0 10px;
                
            }
        }
    }
   }

.today-task-list-popup:after {
    position: absolute;
    right: -17px;
    top: 230px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid $color-white;
}
.task-lstng-asgn-profile{
    padding: 5px 0px;
}
.tasks-lstng-assgn-menu{
    margin: 10px auto;
    .tsk-lst-prfl-name{
        
        .menu-profile{
            width: 23px;
            height: 23px;
            border: solid 1px $color-lightWhite;
        }
        .profile-name{
            width: 81px;
            height: 18px;
            font-family: "helveticaNeueLight";
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            text-align: left;
            color: $color-dimGray;
        }
    }
    .tsk-lstng-asgn-chckbx{
        padding: 2px!important;
        .MuiIconButton-label{
            height: 18px;
        }
    }
    .tsk-lstng-asgn-chckbx{
        background-color: $color-white!important;
    }
    .Mui-checked {
        color: blue!important;
    }
}






// .tasks-listing-assgn-popup-for-one::after{
//     position: absolute;
//     right: 100px;
//     top: 28px;
//     width: 11px;
//     height: 0px;
//     content: '';
//     border-left: 10px solid transparent;
//     border-right: 0px solid transparent;
//     border-bottom: 15px solid $color-white;
//     box-shadow: 5px 5px $color-darkWhite;
//     img{
//         position: absolute;
//         width: 20px;
//         height: 20px;
//         right: 100px;
//         top: 28px;
//         border: 1px solid red;
//     }
// }

.tasks-listing-assgn-popup-for-one{
    position: absolute;
    right: 0px;
    top: 14px;
    // width: 11px;
    // height: 0px;
    // content: '';
    // border-left: 10px solid transparent;
    // border-right: 0px solid transparent;
    // border-bottom: 15px solid $color-white;
    // box-shadow: 5px 5px $color-darkWhite;
    .top-left-arrow{
        position: absolute;
        width: 30px;
        height: 45px;
        right: 80px;
        top: 14px;
    }
}

.tasks-button-popup-one {
    position: absolute;
    padding: 15px;
    bottom: 500px;
    left: 600px;
    height: 260px;
    width: 30%;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
    background: $color-white;
    box-shadow: 0 0 15px $color-lightWeightGray;
    opacity: 1;
}

.tasks-listing-assgn-details{
    width: 238px;
    // margin: 10% auto;
    border-radius: 8px;
    position: absolute;
    padding: 18px 15px 15px 15px;
    top: 42px;
    right: 60px;
    height: 251.9px;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
    background: $color-white;
    box-shadow: 0 3px 12px 0px $color-white-gray;
    opacity: 1;
    .tsk-lstng-assgn-dtls-hdr-txt{
        width: 113px;
        height: 16px;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 0.28px;
        text-align: left;
        color: $color-lightViolet;
    }
    .tsk-lstng-assgn-searchbar{
        width: 206.8px;
        height: 34.5px;
        border: 1px solid $color-borderLightGray;
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        .sidebar-search-field {
        .MuiInputBase-root {
            .MuiInputBase-input {
              padding: 9px;
              font-size: 11px;
              color: $color-lightGray;
            }
            fieldset {
              border: 1px solid transparent;
            }
          }
          
        }
        .task-lstng-srch-icn {
            width: 16.7px;
            height: 16.7px;
            margin: 7px 10px 0 0;
          }
    }
}

.tasks-list-company-description{
    margin-top: 3%; 
    margin-left: 3%; 
    display: flex;

    img{
        width: 14%;
    }
}


.tasks-list-company-text{
    width: 80%;
    p{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        margin-left: 5px!important;
    }
}

.tasks-list-company-text-one{
    font-size: 14px;
    font-weight: bolder;
    color: $color-thickGray;
}

.tasks-list-company-text-two{
    color: $color-lightGray;
    font-size: 14px;
}

.tasks-list-department-and-team-name{
    display: flex;
    p{
        margin-bottom: 0px!important;
        margin-left: 5px!important;
        color: $color-lightGray;
        font-size: 10px;
    }
}


.tasks-list-team-name{
    border-left: 1px solid $color-lightGray;
    padding-left: 15px;
}

.tasks-list-project-name{
    font-size: 10px;
    color: $color-skyBlue;
    margin-left: 5px;
}

.tasks-list-field{
    width: 100%;
    height: 30px;
    .MuiFormControl-root{
        width: 100%;

        .MuiInputLabel-formControl{
            top: -11px;
            left: 11px;
            color: $color-thickGray;
            font-size: 15px;
        }
        .tasks-list-assign-to-menu-item{
            .MuiInput-underline:hover:not(.Mui-disabled):before{
                border-bottom: none!important;
            }

            .MuiInput-underline:before{
                border-bottom: none;
            }

            .MuiInput-underline:after{
                border-bottom: none;
            }
            .MuiInputBase-root{
                border: 1px solid $color-lightGray;
                width: 100%;
                height: 40px;
                border-radius: 20px;
            }
        }
    }
}
.tasks-list-field1{
    width: 50%;
    height: 101px;
    margin-left: 438px;
    .MuiFormControl-root{
        width: 97%;
        top: -38px;
        margin-left: -143px;

        .MuiInputLabel-formControl{
            top: -11px;
            left: 11px;
            color: $color-thickGray;
            font-size: 15px;
        }
        .tasks-list-assign-to-menu-item{
            .MuiInput-underline:hover:not(.Mui-disabled):before{
                border-bottom: none!important;
            }

            .MuiInput-underline:before{
                border-bottom: none;
            }

            .MuiInput-underline:after{
                border-bottom: none;
            }
            .MuiInputBase-root{
                border: 1px solid $color-lightGray;
                width: 100%;
                height: 40px;
                border-radius: 20px;
            }
        }
    }
}


.tasks-list-assign-to-menu-item{
    .MuiInputBase-root{
        width: 100%;
        border: 1px solid $color-darkGray;
        border-radius: 20px;
        .MuiSelect-root{
            img{
                width: 30px;
                height: 30px;
                border-radius: 15px;
                margin-right: 5px;
                margin-top: 4px;
                margin-left: 5px;
            }
        }
    }
    .MuiInput-underline:before{
        border-bottom: none!important;
    }
    .MuiInput-underline:hover{
        border-bottom: none!important;
    }
}

.tasks-list-field{
    .MuiFormControl-root:hover{
        border-bottom: none!important;
    }
}

.task-list-menu-list-name{
    p{
        font-size: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }
}

.tasks-list-menu-list{
    img{
        width: 20px;
        border-radius:10px;
    }
}

.tasks-list-assign-to-menu-item{
    .MuiInput-root{
        .MuiSelect-selectMenu{
            display: flex;
        }
        .MuiInputBase-input{
            padding: 0px!important;
        }
    }
}


button:focus {
    outline: 0px!important;
}


.tasks-listing-name-time{
    padding: 12.3px 15px;
    width: 253px;
    top: 50px;
    right: -110px;
    height: 144.3px;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
    background: $color-white;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);
    opacity: 1;
    
}

.tasks-listing-task-name-hover::after{
    position: absolute;
    width: 11px;
    top: 153px;
    left: 50px;
    content: '';
    border-left: -8px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 0px solid $color-white;
    border-top: 18px solid $color-white;
}

.tasks-listing-task-name-hover{
    // display: none;
    // width: auto;
    // height: 144.3px;
    // margin: 10% auto;
    // border-radius: 8px;
    // position: absolute;
    // top: -230px;
    // left: 150px;
    // height: auto;
    // border-radius: 10px;
    // z-index: 1000;
    // overflow: auto;
    // background: $color-white;
    // box-shadow: 0 0 15px $color-lightWeightGray;
    // opacity: 1;
    display: none;
    position: absolute;
    left: 130px;
    top: -160px;
    width: auto;
    background:transparent;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
}

.tasks-listing-task-name-and-time-section:hover+.tasks-listing-task-name-hover{
    display: block;
}

.tasks-listing-name-display{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 168px;
    .tasks-listing-name{
        width: 100%;
        height: 18px;
        font-size: 1rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        // line-height: 3.13;
        letter-spacing: 0.32px;
        text-align: left;
        color: $color-thickGray;
        margin-bottom: 0px;
        font-family: "helveticaNeueLight";
    }
}



.tasks-listing-date{
    width: 150px;
    height: 12px;
    margin: 5px 0px;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $color-lightGray;
    font-family: "helveticaNeueLight";
}

.tasks-listing-critical-button{
    padding: 0px!important;
    font-size: 10px;
    border: 1px solid;
    .MuiButton-label{
        font-size: 10px;
    }
    
}

.tasks-listing-status-progress{
    
    .tasks-listing-status-in-progress{
        width: 93px;
        height: 14px;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.24px;
        text-align: left;
        color: $color-lightGray;
    
        span{
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: 0.24px;
            text-align: left;
            color: $color-green;
        }
    }
   
}



.tasks-listing-status-percentage{
    padding: 0px!important;
    font-size: 10px;
    .MuiButton-root{
        height: 25px;
        border: 1px solid;
    }
    .MuiButton-label{
        font-size: 12px;
    }
}

.tasks-listing-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.tasks-listing-tags-text{
    width: 39px;
    height: 14px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.24px;
    text-align: left;
    color: $color-lightGray;
    font-family: 'helveticaNeueLight';
}

.tasks-listing-tags-section{
    width: 75%;
}

.risk-critical-server{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .task-listing-tags-img{
        width: 20px;
        height: 20px;
    }
    p{
        margin-bottom: 4px;
        // font-size: 10px;
        text-align: center;
    }
    .tasks-listing-critical{
        width: 72px;
        height: 26px;
        border-radius: 6px;
        background-color: $color-lightPink;
        .tasks-listing-critical-text{
            font-size: 15px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: 0.3px;
            text-align: center;
            font-family: "helveticaNeueLight";
            padding: 3px;
            color:$color-darkPink;
        }
        
    }

    .tasks-listing-tech{
        width: 51px;
        height: 26px;
        border-radius: 6px;
        background-color: $color-thinLightViolet;
        .tasks-listing-tech-text{
            font-size: 15px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: 0.3px;
            text-align: center;
            font-family: "helveticaNeueLight";
            padding: 3px;
            color:$color-strongPurple;
        }
    }

    .tasks-list-server{
        width: 20%;
        border-radius: 10px;
        background-color: $color-skyBlue;
    }
}

.phase-technical{
    display: flex;
    p{
        margin-bottom: 0px;
        font-size: 10px;
        text-align: center;
    }

    .tasks-list-phase{
        width: 30%;
        border-radius: 10px;
        background-color: $color-orange;
        margin-right: 5px;
    }

    .tasks-list-technical{
        width: 30%;
        border-radius: 10px;
        background-color: $color-mediumAquarium;
    }
}

.ticket-header{
    nav{
        a{
            img{
                width: 80%;
                margin-right: 0px;
            }
        }
    }
}
.task-date-time {
    display: flex;
      #task-datepicket-btn {
        position: relative;
        .react-date-picker {
          position: absolute;
          top: 0;
          .react-date-picker__wrapper {
            border: 0;
            .react-date-picker__inputGroup {
              min-width: 0;
              flex-grow: 1;
              display: flex;
              padding: 0 2px;
              align-items: baseline;
              width: 0;
              box-sizing: content-box;
              display: none;
            }
          }
          .react-date-picker__calendar-button {
            width: 121px;
            height: 32px !important;
            svg {
              display: none;
            }
          }
          .react-date-picker__calendar {
            z-index: 3;
          }
        }
////////////////////////////////// react-date-picker /////////////////////////////////////////////
        .react-date-picker__calendar {
          margin-top: 7px;
          width: 260px;
          .react-calendar::before {
            content: '';
            background: url('../../../assets/icons/15-10-2019/Path 184.svg');
            background-position: center;
            position: absolute;
            background-size: cover;
            height: 20px;
            width: 20px;
            top: -11px;
            -webkit-transform: rotate(-54deg);
            transform: rotate(-65deg);
            left: 20px;
            
          }
          .react-calendar {
            border: 0;
            border-radius: 15px;
            box-shadow: 0 0 15px $color-veryLighterGray;
            .react-calendar__navigation { 
              align-items: center;
              margin: 0;

              .react-calendar__navigation__arrow {
                min-width: 26px;
                width: 26px;
                height: 20px;
              }
              .react-calendar__navigation__label {
                color: $color-wildBlueYonderlight;
                font-weight: 700;
              }
            }
            .react-calendar__viewContainer {
              .react-calendar__month-view  {
                div {
                  div {
                    .react-calendar__month-view__weekdays {
                      .react-calendar__month-view__weekdays__weekday {
                        abbr {
                          text-decoration: none;
                        }
                      }
                    }
                    .react-calendar__month-view__days {

                    }
                  }
                }
              }
            }

            
            .react-calendar__tile {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px 0;
              // flex-basis: 12.2857% !important;
            }
            .react-calendar__tile--active {
              border-radius: 100px ;
              background: $color-wildBlueYonder;
            }
          }
        }
////////////////////////////////// react-date-picker /////////////////////////////////////////////
    }

    .CT-custome-button {
      box-shadow: none;
      background: 0;
      border-radius: 10px !important;
      margin-left: 2%;
      width: 95%;      
      border: 1px solid $color-borderLightGray;
      background: $color-wildBlueYonderlight;
      padding: 6px 7px;
      margin-right: 7px;

      span {
        color: $color-thickGray;  
        font-family: helveticaNeueLight;
        font-weight: 300 !important;
        text-transform: capitalize;
      }
    }
    .CT-time-btn {
      width: 100px !important;
    }

    .CT-time-setter {
      position: relative;
    }
  }
  #to {
    margin: 0 5px;
    font-size: 1.2rem;
  }

  .CT-all-day {
    margin: 0 1% 0 1%;
    .CT-all-day-checkbox {
      padding: 0;
      margin-left: 5px;
      width: 20px;
      span {
        color: $color-strongPurple !important;
        svg {
          width: 20px;
        }
      }
    }
    .Mui-checked {
      color: $color-strongPurple !important;
    }
    span {
      margin-left: 3px;
      margin-top: -1px;
      color: $color-thickGray;
      font-family: helveticaNeueCondensedBold;

    }
  }