@import '../../variables';
@import '../../extends';

.sub-header-section{
  padding: 1% 2.1%;
  .left{
    label{
      display: block;
      &.chatEntity{
        font-size: 1.2rem;
        font-family: 'helveticaNeueCondensedBold';
        text-transform: uppercase;
        letter-spacing: 0.36px;
        line-height: 0.78;
        font-weight: bold;
        padding: 1px;
      }
      &.chatEntityDescr{
        font-size: 0.8rem;
        font-weight: 300;
        letter-spacing: 0.18px;
        color: $color-lightGray;
        line-height: 1.52;
        font-family: "helveticaNeueLight";
        padding: 1px;
        .userStatus{
          margin-right: 5px;
        }
      }
    }
  }

  .right{
    position: relative;
    @extend %d-flex-align-center-space-btwn;
    > span{
      display: inline-block;
      width: 35px;
      height: 36px;
      border-radius: 50%;
      background-color: $color-exLightPurple;
      cursor: pointer;
      margin: 0 4px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
    }

    #search-i{
      background-image: url('../../assets/icons/chat/feather-search.svg');
      background-size: 18px 18px;
      &:hover{
        background-image: url('../../assets/icons/chat/feather-search-1.svg');
        background-size: 18px 18px;
      }
    }

    #heart-i{
      background-image: url('../../assets/icons/chat/material-favorite-border.svg');
      background-size: 18px 18px;
      &:hover{
        background-image: url('../../assets/icons/chat/material-favorite-border-1.svg');
        background-size: 18px 18px;
      }
    }

    #attach-i{
      background-image: url('../../assets/icons/chat/metro-attachment.svg');
      background-size: 18px 18px;
      &:hover{
        background-image: url('../../assets/icons/chat/metro-attachment-1.svg');
        background-size: 18px 18px;
      }
    }

    #addu-i{
      background-image: url('../../assets/icons/chat/awesome-user-plus.svg');
      background-size: 18px 18px;
      &:hover{
        background-image: url('../../assets/icons/chat/awesome-user-plus-1.svg');
        background-size: 18px 18px;
      }
    }

    #moreoptns-i{
      background-color: $color-white;
      background-size: auto;
      margin-right: 0px;
      margin-left: 15px;
      width: 10px;
      background-image: url('../../assets/icons/chat/awesome-ellipsis.svg');


      #moreoptnsDropdown{
        display: none;
        padding: 10px;
        position: absolute;
        background-color: $color-white;
        width: 200px;
        height: auto;
        right: -8px;
        top: 42px;
        border-radius: 10px;
        @extend %dropdown-box-shadow;
        z-index: 99;
        >img:first-child{
          position: absolute;
          top: -19px;
          right: 6px;
        }
        >label{
          @extend %d-flex-align-center-space-btwn;
          cursor: pointer;
          font-size: 1.125rem;
          width: 100%;
          color: $color-dimGray;
          font-weight: 300;
          padding: 2px 0px;
          span:first-child{
            font-size: 1.1rem;
          }
          img{
            margin-right: 10px;
            height: 15px;
            width: 16px;
          }
          >span:last-child{
            font-size: 0.8rem;
            color: $color-borderLightGray;
            &.userStatus{
              @extend %d-flex-align-justify-center;
              font-size: 0.75rem;
              color: $color-white;
              height: 15px;
              width: 15px;
            }
          }
        }
      }

      &:hover{
        background-image: url('../../assets/icons/chat/awesome-ellipsis-1.svg');
        #moreoptnsDropdown{
          display: block;
        }
      }
    }



  }
}


#sideHeader{
  height: 40%;
  max-height: 40%;
  padding: 0 15px;
  h3{
    height: 12%;
    font-size: 1.6rem;
    color: $color-lightViolet;
    line-height: 0.82;
    letter-spacing: 0.44px;
    font-weight: bold;
    margin: 4% 0%;
    display: flex;
    align-items: center;
  }
  #userProfile{
    height: 22%;
    margin: 6% 0%;
    position: relative;
    @extend %d-flex-align-center;
    img{
      width: 51px;
      height: 52px;
      border-radius: 50%;
    }
    .userStatus{
      position: absolute;
      left: 42px;
      bottom: 10px;
    }
    >div{
      label{
        margin: 0px;
        display: block;
        color: $color-thickGray;
        padding-left: 6px;
        &:first-child{
          font-size: 1.26rem;
          letter-spacing: 0.38px;
          font-weight: bold;
          line-height: 0.96;
          font-family: "helveticaNeueLight";
        }
        &:last-child{
          font-size: 0.9rem;
          letter-spacing: 0.32px;
          line-height: 1.55;
          font-weight: 300;
        }
      }
    }
  }
  #searchBox{
    width: 100%;
    height: 12%;
    border-radius: 100px;
    box-shadow: 0 3px 6px 0 $color-searchBoxShadow;
    background-color: $color-white;
    position: relative;
    margin: 1% auto;
    input{
      height: 100%;
      border: none;
      outline: none;
      width: 100%;
      color: $color-lightGray;
      font-size: 0.9rem;
      line-height: 1.25;
      border-radius: 30px;
      padding: 0 24px 0 10px;
      font-family: "helveticaNeueLight"
    }
    img{
      position: absolute;
      right: 8px;
      top: 10px;
      width: 13px;
      height: 13px;
    }
  }
  #chatTabsGrid{
    @extend %d-flex-space-btwn;
    height: 20%;
    border-bottom: 1px solid $color-exDarkPurple;
    margin: 1% auto;
    display: flex;
    align-items: center;
    >div{
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: column;
      opacity: 0.4;
      span:first-child{
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
      }
      span:last-child{
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.55;
        letter-spacing: 0.22px;
        text-align: center;
        color: $color-strongPurple;
      }
      &:hover{
        opacity: 1;
      }
      &#chatTab{
        span:first-child{
          background-image: url('../../assets/icons/chat/material-chat_bubble_outline-1.svg');
          background-size: 16px 16px;
        }
      }
      &#contactTab{
        span:first-child{
          background-image: url('../../assets/icons/chat/material-contacts-1.svg');
          background-size: 16px 16px;
        }
      }
      &#groupTab{
        span:first-child{
          background-image: url('../../assets/icons/chat/awesome-layer-group-1.svg');
          background-size: 16px 16px;
        }
      }
      &.active{
        opacity: 1;
        span:last-child{
          font-weight: bold;
          font-size: 0.8rem;
          line-height: 1.55;
          letter-spacing: 0.22px;
        }
      }
    }

  }
  #chatFiltering{
    @extend %d-flex-align-center-space-btwn;
    height: 18%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    >label{
      color: $color-thickGray;
      opacity: 0.8;
      cursor: pointer;
      margin: 0px;
      font-weight: 600;
      position: relative;
      &:hover{
        opacity: 1;
      }
    }
    >label:first-child{
      letter-spacing: 0.32px;
      line-height: 1.13;
      font-weight: bold;
      font-size: 1rem;
      padding: 10px;
    }
    >label:last-child{
      letter-spacing: 0.32px;
      font-size: 1rem;
      height: 26px;
      width: 64px;
      border: solid 1px rgba(78, 88, 169, 0.5);
      border-radius: 20px;
      @extend %d-flex-align-justify-center;
      position: relative;
      &:hover{
        #addOptionsDD{
          display: block;
        }
      }
      #addOptionsDD{
        display: none;
        opacity: 1;
        position: absolute;
        top: 36px;
        right: -70px;
        background: $color-white;
        border-radius: 6px;
        @extend %dropdown-box-shadow;
        z-index: 99;
        >img:first-child{
          position: absolute;
          height: 20px;
          left: 2px;
          top: -15px;
        }
        >label{
          font-size: 0.8rem;
          display: flex;align-items: center;
          justify-content: flex-start;
          cursor: pointer;
          color: $color-thickGray;
          opacity: 1;
          margin: 0px;
          padding: 4px 10px;
          >img{
            padding: 0 5px;
            width: 20px;
            height: 20px;
          }
        }
      }
      span{
        font-size: 0.9rem;
        padding: 5px;
      }
    }
  }
}

#sideBottom{
  min-height: 60%;
  max-height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  .grpHdrs{
    font-size: 1.16rem;
    color: $color-lightViolet;
    letter-spacing: 0.44px;
    font-weight: bolder;
    line-height: 1.14;
    font-family: "helveticaNeueLight"
  }
  .userProfileTag{
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    >*{
      cursor: pointer;
    }
    @extend %d-flex-align-center;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .userStatus{
      position: absolute;
      left: 30px;
      bottom: 10px;
    }
    >div{
      width: 100%;
      label{
        margin: 0px;
        display: block;
        color: $color-strongPurple;
        padding-left: 6px;
        text-transform: capitalize;
        &:first-child{
          font-size: 1.375rem;
          letter-spacing: 0.52px;
          line-height: 0.96;
          display: flex;
          justify-content: space-between;
          align-items: center;
          >span:first-child{
            font-size: 1.1rem;
            font-weight: 599;
          }
          >span:last-child{
            font-size: 0.6rem;
            font-weight: 300;
            letter-spacing: 0.16px;
            line-height: 1;
            color: $color-lightViolet;
          }
        }
        &:last-child{
          font-size: 0.8rem;
          letter-spacing: 0.2px;
          line-height: 1.8;
          color: $color-thickGray;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: "helveticaNeueLight"
        }
      }
    }
  }

  .userProfileGroupsTag{
    padding: 5px;
    margin: 8px 0;
    position: relative;
    @extend %d-flex-align-center;
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .userStatus{
      position: absolute;
      left: 30px;
      bottom: 8px;
    }
    >div{
      width: 100%;
      label{
        margin: 0px;
        display: block;
        color: $color-strongPurple;
        padding-left: 6px;
        text-transform: capitalize;
        &:first-child{
          font-size: 1.175rem;
          letter-spacing: 0.52px;
          line-height: 0.96;
          display: flex;
          justify-content: space-between;
          align-items: center;
          >span:first-child{
            font-size: 0.9rem;
            font-weight: 300;
          }
          >span:last-child{
            font-size: 0.6rem;
            font-weight: 300;
            letter-spacing: 0.16px;
            line-height: 1;
            color: $color-lightViolet;
          }
        }
        &:last-child{
          font-size: 0.8rem;
          letter-spacing: 0.2px;
          line-height: 1.8;
          color: $color-thickGray;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: "helveticaNeueLight"
        }
      }
    }
  }

  .userProfilechatsTag{
    padding: 5px;
    margin: 8px 0;
    position: relative;
    @extend %d-flex-align-center;
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .userStatus{
      position: absolute;
      left: 28px;
      bottom: 8px;
    }
    >div{
      width: 100%;
      label{
        margin: 0px;
        display: block;
        color: $color-strongPurple;
        padding-left: 6px;
        text-transform: capitalize;
        &:first-child{
          font-size: 1.175rem;
          letter-spacing: 0.52px;
          line-height: 0.96;
          display: flex;
          justify-content: space-between;
          align-items: center;
          >span:first-child{
            font-size: 1rem;
            font-weight: 300;
          }
          >span:last-child{
            font-size: 0.6rem;
            font-weight: 300;
            letter-spacing: 0.16px;
            line-height: 1;
            color: $color-lightViolet;
          }
        }
        &:last-child{
          font-size: 0.7rem;
          letter-spacing: 0.2px;
          line-height: 1.8;
          color: $color-thickGray;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: "helveticaNeueLight"
        }
      }
    }
  }
}


.chat-area-section{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 50px;
  >div:first-child{
    height: 95%;
  }
  .chat-area-body{
    height: auto;
    margin-top: 15px;
    &.row-reverse {
      flex-direction: row-reverse;
      .chat-area-message{
        border-radius: 20px 0px 20px 20px;
      }
    }

    .chat-area-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 7%;
      width: 7%;
      margin: 0px;

      img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      label{
        font-size: 0.7rem ;
        font-weight: bold;
        color: $color-lightViolet;
        margin: 0px;
        text-transform: uppercase;
        font-family: 'helveticaNeueMedium';
      }
    }

      .chat-area-message{
        width: auto;
        max-width: 75%;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0px 20px 20px 20px;
        margin: 0.5% 1%;
        padding: 6px 12px;
        p{
          margin: 5px 15px;
          font-size: 0.9rem;
          font-weight: 300;
          line-height: 1.2;
          font-family: "helveticaNeueLight";
          color: $color-thickGray;
        }

      }


  }
  .text-area-section{
    width: 100%;
    height: 47px;
    margin: 0 auto;
    position: sticky;
    bottom: 0px;
    @extend %d-flex-align-center-space-btwn;
    background-color: $color-white;
    box-sizing: content-box;
    padding: 5px 0;

    >div{
      width: 100%;
      position: relative;
      height: 47px;
      @extend %d-flex-align-center-space-btwn;

      .more-icon{
        width: 50px;
        height: 47px;
        margin: 0% 1%;
        text-align: center;
        border-radius: 50%;
        background-color: $color-exLightPurple;
        position: relative;
        img{
          width: 25px;
          height: 25px;
        }
        #moreOptions{
          position: absolute;
          padding: 15px;
          background: #fff;
          bottom: 58px;
          left: -10px;
          border-radius: 18px;
          @extend %dropdown-box-shadow;
          @extend %d-flex-align-center-space-btwn;
          height: 210px;
          width: 390px;
          display: none;
          flex-wrap: wrap;
          z-index: 9;
          >img:first-child{
            position: absolute;
            bottom: -19px;
            left: 21px;
          }
          .block{
            height: 80px;
            width: 80px;
            @extend %d-flex-column;
            align-items: center;
            border-radius: 24px;
            background-color: grey;
            color: $color-white;
            justify-content: center;
            text-transform: uppercase;
            cursor: pointer;
            margin: 5px;
            &.block-1{
              background-color: #9dbebb;
            }
            &.block-2{
              background-color: #85d9bf;
            }
            &.block-3{
              background-color: #a5ccd1;
            }
            &.block-4{
              background-color: #b6b8d6;
            }
            &.block-5{
              background-color: #b7d3f2;
            }
            &.block-6{
              background-color: #ede7b1;
            }
            &.block-7{
              background-color: #ba9593;
            }
            &.block-8{
              background-color: #9dbebb;
            }
            span{
              font-family: 'helveticaNeueCondensedBold';
              font-size: 0.8rem;
              line-height: 1;
            }
            img{
              height: 22px;
              width: 22px;
              margin: 0 0 6px 0;
            }
          }
        }
        &:hover{
          #moreOptions{
            display: flex;
          }
        }
      }
      >div{
        width: 100%;
        height: 47px;
        position: relative;

        .text-area-smile{
          position: absolute;
          left: 1.5%;
          width: 22px;
          top: 12px;
        }
        textarea{
          height: 100%;
          width: 100%;
          border-radius: 100px;
          padding: 12px 20px 12px 50px !important;
          overflow: hidden;
          background-color: $color-exLightPurple;
          font-size: 15px;
          font-weight: 300;
          line-height: 1.2;
          color: $color-lightGray;
          resize: none;
          border: none !important;
        }
        textarea:focus{
          outline: none;
          outline-offset: 0px !important;
        }

        .text-area-attach{
          position: absolute;
          right: 1.5%;
          width: 18px;
          top: 12px;
        }

      }
    }
  }
}




@media screen and (min-width:1440px){
  .chat-area-section{
    .text-area-section{
        .text-area-smile{
          left:6.5%;
        }
    }
  }
}
