@import '../../variables';
@import '../../mixins';

/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */
@media (min-width: 320px) and (max-width: 480px) {

  
}


/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {


}


/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  
}

/* Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {



}


/* Device = Laptops, Desktops Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header-search-section{
    .MuiFormControl-root {
      .MuiInputBase-root {
        .MuiInputBase-input{
          font-size: rem(14px)!important;
        }
      }
    }
  }
  .header-right-section {
    .application-type-dropdown{
      .MuiInputBase-root{
        .MuiSelect-root {
          font-size: rem(12px)!important;
        }
      }

    }

  }
  .logout-button{
    font-size: rem(10px)!important;
  }
  

}


/* Device = Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1600px) {
  .header-search-section{
    .MuiFormControl-root {
      .MuiInputBase-root {
        .MuiInputBase-input{
          font-size: rem(18px)!important;
        }
      }
    }
  }

  .header-right-section {
    .application-type-dropdown{
      .MuiInputBase-root{
        .MuiSelect-root {
          font-size: rem(13px)!important;
        }
      }

    }

  }
  .logout-button{
    font-size: rem(10px)!important;
  }
}


@media (min-width: 1601px) {

}



/*----------------------Media Query---------------------*/

$borderRadius: 100px;

.header-container {
  // height: 56px;
  height: 7.9vh;
  width: 100%;
  display: flex;
  align-items: center;
  // padding: 0.5% 2.1%;
  position: sticky;
  top: 0px;
  z-index: 9;
  background-color: $color-white;
  border-bottom: 1px solid rgba(236, 241, 249, 0.9);

  .header-search-section {
    display: flex;
    align-items: center;
    width: 60%;
    height: 5.6vh;
    margin: 0% 0% 1.1vh 0%;
    .header-srch-br{
      display: flex;
      align-items: center;
      height: 100%;
      width: 85%;
      border: 1px solid $color-borderLightGray;
      border-radius: 100px;
      margin: 0% 5%;

    .header-search-icon {
      width: 10%;
      height: 60%;
    }
    .MuiFormControl-root {
      width: 88%;
      // margin: 0 0 0 15px;
      margin-bottom: 0px!important;
      margin-top: 0px!important;
      .MuiInputBase-root {
        
        .MuiInputBase-input{
          font-size: rem(22px);
          color: $color-lightGray;
        }
      }
      .MuiInput-underline:before {
        border: 0;
      }
    }

    .MuiInput-underline:before, .MuiInput-underline:after {
      border: 0;
    }
  }
  }
  .header-right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 4.6vh;
    .application-type-dropdown {
      // margin: 0 20px;
      height: 100%;
      width: 30%;
      .MuiInputBase-root {
        height: 100%;
        .MuiSelect-root {
          // padding: 6% 16% 6% 8%;
          font-size: rem(18px);
          font-weight: 500;
          color: $color-thickGray;
          opacity: 0.8;
          border-radius: $borderRadius;
        }
        .MuiSelect-iconOutlined{
          right: 1%!important;
        }
        fieldset {
          border: 1px dashed $color-borderLightGray;
          border-radius: $borderRadius;
        }
      }
    }
    .logout-button {
      width: 15%;
      height: 100%;
      font-size: rem(15px);
      opacity: 0.7;
      font-weight: 600;
      border-radius: $borderRadius;
      border: 1px dashed #d0cfec;
    }
    .header-icons-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
      img {
        // margin: 0 8%;
        cursor: pointer;
        height: 5vh;
        width: 20%;
      }
    }
    .header-profile-image {
      width: 10%;
      img {
        border-radius: 50%;
        // height: 45px;
        width: 100%;
      }
    }
  }
}
