@import '../../../../variables';

$borderRadius: 100px;
$lightGrayDashedBorder: 1px dashed $color-lightGray;
$lightGraySolidBorder: 1px solid $color-lightGray;

%d-flex {
  display: flex;
} 
%d-flex-align-center {
  @extend %d-flex;
  align-items: center;
}
%d-flex-align-justify-center {
  @extend %d-flex-align-center;
  justify-content: center;
}
%d-flex-align-center-space-btwn {
  @extend %d-flex-align-center;
  justify-content: space-between;
} 
 
@mixin heighWidth($heigh, $width) {
  height: $heigh;
  width: $width;
}
.EdtCmp-drawer {
  .drawer-closer {
    border: 1px solid red;
    position: absolute;
    left: 0;
    width: 100%;
  }
  .MuiDrawer-paper {
    width: 450px;

    .EdtCmp-drawer-bodySection {
      height: 100vh;
      padding: 2% 5%;
      display: flex;
      flex-direction: column;
      position: relative;
      .EdtCmp-drawer-heading-section {
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 10px 0;

        .filter-drawer-heading {
          margin: 0 !important;
          padding: 0;
          font-size: 1rem;
          font-weight: 700;
          color: $color-dimGray;
          text-transform: uppercase;
        }
        
      }

      .customised-dropdown-menu {
        border: 1px solid grey;
        border-radius: $borderRadius;
        margin-bottom: 20px;
        .edtCmp-icon {
          font-size: 0.5rem;
          margin-left: 5px;
          color: $color-red;
        }
        label {
          background: $color-white;
          display: flex;
        }
        .MuiInputLabel-outlined {
          transform: translate(46px, 20px) scale(1);
        }
        .MuiInputLabel-outlined.MuiInputLabel-shrink {
          transform: translate(14px, -6px) scale(0.75);
        }
        .flex-container {
          @extend %d-flex-align-center;

          img {
            @include heighWidth(23px, 30px);
            margin-left: 10px;
            border-radius: $borderRadius;
          }

          .MuiInputBase-root {
            border-radius: 0 100px 100px 0  !important;
            width: 88%;
            margin-left: auto;
            .MuiSelect-root {
              padding: 18.5px 0;
              background: none;
            }
          }   
          fieldset {
            border: 0;
          }       
        }

        

        width: 100%;
        fieldset {
          border: $lightGraySolidBorder;
          border-radius: $borderRadius;
        }
      }
      






      .filter-bottom-buttons {
        @extend %d-flex-align-center-space-btwn;
        background-color: $color-white;
        height: 200px;
        bottom: 0;

        margin-top: auto;
        .ch-save-button {
      
          background-color:transparent;
          border: 1px dashed $color-lightGray;
          box-shadow: none;
          border-radius: $borderRadius;
          padding: 10px;
          width: 21%;
      
          span {
            text-transform: capitalize;
          }
        }
        .ch-save-button:hover {
          background-color:transparent;
          
        }
      
        .ch-submit-button {
          background-color: $color-green;
          box-shadow: none;
          border-radius: $borderRadius;
          padding: 10px;
          width: 40%;
          color: $color-white;
      
          span {
            text-transform: capitalize;
          }
        }
        .ch-submit-button:hover {
          background-color: $color-green;
        }
      
        
      }      
    }
  }
}
